<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!--<script src="/socket.io/socket.io.js"></script>-->
  <script src="http://localhost:8801/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script>
      var socket = io.connect('http://localhost:8801');
      //var socket = io();
      socket.on('connection',function() {
          console.log('Client has connected to the server!');
      });

      socket.on('news', function (data) { 
          $("#iomsg").html(data);
          socket.emit('newresponse', 'this is news response');
      });
      $('#chat').on('submit', function(e){ //2
          socket.emit('send message', $('#name').val(), $('#message').val());
          $('#message').val('');
          $('#message').focus();
          e.preventDefault();
      });
      socket.on('receive message', function(msg){ //3
          $('#chatLog').append(msg+'\n');
          $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
      });
      socket.on('change name', function(name){ //4
          $('#name').val(name);
      });
  </script>
</head>
<body>
<h1><%=message%></h1>
<p>Welcome to <%= title %></p>
<div style="color:#3333ff;" id='iomsg'></div>

<div>
  <textarea id="chatLog" class="chat_log" readonly></textarea>
</div>
<form id="chat">
  <input id="name" class="name" type="text" readonly>
  <input id="message" class="message" type="text">
  <input class="chat" type="submit" value="chat"/>
</form>

</body>
</html>
